<header>
  <h1>Chess Tutor</h1>
</header>
<content>
  <nav>
    <button id='start-btn'>Start Over</button>
  </nav>
  <board id='board'>
    <% 8.times do |row| %>
      <% board_color = row.even? ? 'white' : 'black' %>
      <ul>
        <li class='row-label'><%= "87654321"[row] %></li>
        <% 8.times do |col| %>
          <% pos = [row, col] %>
          <% piece = @board[pos] %>
          <li id="<%= encode(pos) %>"
            class="cell <%="board-#{board_color}"%>"><%= piece.to_html %></li>
          <% board_color = board_color == 'white' ? 'black' : 'white'%>
        <% end %>
      </ul>
    <% end %>
    <ul>
      <li class='row-label col-label'/>
      <% 8.times do |col| %>
        <li class='col-label'><%= "ABCDEFGH"[col] %></li>
      <% end %>
    </ul>
  </board>
  <sidebar>
    <subhead>
      <h2>Hints</h2>
    </subhead>
  </sidebar>
</content>
<footer>
</footer>
